/* All THe styles go  here */

/* Global Styles - used throughout the website */
body
{
    background-color: #EEEEEE;
    font-family: Roboto, sans-serif;
}

.fixed {
    position: fixed;
}

/* Navbar */

nav {
	padding : 0 2%;
}

/* Left sidebar */

.left-sidebar {
    width: 15%;

    height : 600px;
    top: 64px;

    padding-top : 20px;
    top: 64px; 
}

.left-sidebar a {
    width:100%;
    margin-top:20px;

}

/* Right Scrren */

.content-main {
    /*width: 100%;*/
    padding-left: 20%;
    padding-top: 40px;
}

.spacer {
    height: 10px
}

/* Project Listing screen styles */

.single-project-listing {
    border: 2px solid grey;  /* Accent Color */
    height: 100px;
    width: 90%;
    margin: 20px auto;
    background-color: white;
    -webkit-box-shadow: 7.5px 0 5px -2px #888;
          box-shadow: 7.5px 0 5px -2px #888;

     -webkit-box-shadow: 7.5px 7.5px 5px -2px #888;
          box-shadow: 7.5px 7.5px 5px -2px #888;
}

#userImage
{
    height: auto;
    width: 12%;
    vertical-align: center;
    padding-top: 10px;
    float: left;

}
#projFolder {
    color:grey;
    font-size: 60px;
    margin-top: 12%;
}


/* For side nav */
.side-nav.large-screen {
    top: 64px;
}

ul.tabs {
    height: 100%;
    display: block;
    width: 15% !important;
}

.tabs .tab a {
    text-align: left;
}

ul.tabs li {
    width: 100% !important;
}

ul.tabs .indicator {
    display: none;
}

ul.tabs li a.active {
    background-color: #eeeeee; 
    color:black !important;
    border-right: 4px solid white;
}

input#member-name {
    width : 80%;
    margin-right: 5%;
    float: left;
}

a#members-form-submit {
    float: left;
}

.heading {
    font-family: "EB garamond", sans-serif ;
}

::-webkit-input-placeholder {
    color: #FF0000;
    opacity: 0.45 !important; /* for chrome */
}

:-moz-placeholder { /* Firefox 18- */
    color: #FF0000;
    opacity: 0.45;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #FF0000;
    opacity: 0.45;
}

:-ms-input-placeholder {
   color: #FF0000;
   opacity: 0.45;
}

/* label color */
.input-field label {
 color: black;
}

 /*label focus color */

.input-field input[type=text]:focus + label {
 color: red;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid red;
 box-shadow: 0 1px 0 0 red;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid red;
 box-shadow: 0 1px 0 0 red;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid red;
 box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: red;
}
        

#nav-bar-secondary {
    /*/*height: 40px;*/ 
    background-color: #00695C;
    margin-bottom: 0;

}

#new-logo
{
  color:white !important;
  font-size: 25px;
  margin: 5% 3% 5% 3%;
  float:left;
}   
#logo
{
  color:white !important;
  font-size: 25px;
  margin: 5% 3% 5% 3%;
  float:right;
}

#nav-bar-right
{
    float:right;    
    /*background-color:black;*/
}

/* For right nav bar menus */

#nav-bar-right {
    display: none;
}

