/* Tabs Style */

ul.tabs {
    width: 70% !important;
    margin: auto;
}

/* File structure */

.project-directory{
    width: 100%;
}
.project-directory td {
    padding-left: 5%;
}

.project-directory td p {
    display : inline;
    margin-left: 3%;
}

.commit-log-div {
    width : 0;
    position: fixed;
    top: 175px;
    right: 0;
    height: 600px;
    overflow-y: scroll;
    padding: 0 2%;
}