<!DOCTYPE html>
<html>
    <head>
        <title> User Dashboard </title>

{#        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">#}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='css/materialize.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='css/palette.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='css/font-awesome.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='css/dashboardstyle.css')}}">
    </head>

    <body>

        <div class="page-preloader">

        </div>

        <div class="page-wrapper">

            <!-- Navigation Bar -->

            <div class="navbar-fixed">
                <nav class="dark-primary-color">
                    <div class="nav-wrapper">
                      <a href="#!" class="brand-logo garamond"><strong>proHub</strong></a>
                      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                      <ul class="right hide-on-med-and-down">
                        <li><a href="#">Features</a></li>
                        <li style="float:right;"><a href="#"><img src="{{ url_for('static' , filename='images/userimage.png')}}" class="responsive-img circle" id="userImage" /><span>Howdy {{ response['message'] }}</span></a></li>
                      </ul>

                      <ul class="side-nav default-primary-color" id="mobile-demo">
                        <li><a href="#"><img src="{{ url_for('static', filename='images/userimage.png') }}" class="responsive-img circle" id="userImage" /></a></li>
                        <li> <span>Howdy {{ response['message'] }}</span>  </li>
                        <li> <a class="waves-effect white-text" href="#my-projects"> My Projects </a></li>
                        <li> <a class="waves-effect white-text" href="#projects-shared" > Shared Projects </a></li>
                        <li> <a class="waves-effect white-text" href="#new-project" > New Project </a></li>
                        <li> <a class="waves-effect white-text" href="#">Features</a></li>
                      </ul>

                    </div>
                </nav>
            </div>

            <div class="content-main">

                <ul class="side-nav tabs large-screen fixed default-primary-color">
                    <li> <a class="waves-effect tab white-text active" href="#all-projects"> All Projects </a></li>
                    <li> <a class="waves-effect tab white-text" href="#my-projects"> My Projects </a></li>
                    <li> <a class="waves-effect tab white-text" href="#projects-shared" > Shared Projects </a></li>
                    <li> <a class="waves-effect white-text" href="#new-project"> New Project </a></li>
                </ul>

                <div id="all-projects" class="tab-content">
                    <div class="row">
                        <div class="col l2 m4 s6 offset-m1 center-align">
                            <div class="single-project-listing center-align">
                                <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                            </div>
                            <p>project 1</p>
                        </div>

                       <div class="col l2 m4 s6 offset-m1 center-align">
                            <div class="single-project-listing center-align">
                                 <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                            </div>
                            <p>project 1</p>
                        </div>

                        <div class="col l2 m4 s6 offset-m1 center-align">
                            <div class="single-project-listing center-align">
                                 <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                            </div>
                            <p>project 1</p>
                        </div>

                       <div class="col l2 m4 s6 offset-m1 center-align">
                            <div class="single-project-listing center-align">
                                 <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                            </div>
                            <p>project 1</p>
                        </div>

                       <div class="col l2 m4 s6 offset-m1 center-align">
                            <div class="single-project-listing center-align">
                                 <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                            </div>
                            <p>project 1</p>
                        </div>

                        <div class="col l2 m4 s6 offset-m1 center-align">
                            <div class="single-project-listing center-align">
                                 <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                            </div>
                            <p>project 1</p>
                        </div>

                       <div class="col l2 m4 s6 offset-m1 center-align">
                            <div class="single-project-listing center-align">
                                 <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                            </div>
                            <p>project 1</p>
                        </div>

                        <div class="col l2 m4 s6 offset-m1 center-align">
                            <div class="single-project-listing center-align">
                                 <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                            </div>
                            <p>project 1</p>
                        </div>

                        <div class="col l2 m4 s6 offset-m1 center-align">
                            <div class="single-project-listing center-align">
                                 <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                            </div>
                            <p>project 1</p>
                        </div>

                        <div class="col l2 m4 s6 offset-m1 center-align">
                            <div class="single-project-listing center-align">
                                 <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                            </div>
                            <p>project 1</p>
                        </div>

                       <div class="col l2 m4 s6 offset-m1 center-align">
                            <div class="single-project-listing center-align">
                                 <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                            </div>
                            <p>project 1</p>
                        </div>

                        <div class="col l2 m4 s6 offset-m1 center-align">
                            <div class="single-project-listing center-align">
                                 <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                            </div>
                            <p>project 1</p>
                        </div>

                    </div>

                </div>

                <div id="my-projects" class="tab-content">
                    <p> Tejas Motherfucker</p>
                </div>

                <div id="projects-shared" class="tab-content">
{#                    <div class="row">#}
{#                        <div class="col l2 m4 s6 offset-m1 center-align">#}
{#                            <div class="single-project-listing center-align">#}
{#                                 <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>#}
{#                            </div>#}
{#                            <p>project 1</p>#}
{#                        </div>#}
{##}
{#                       <div class="col l2 m4 s6 offset-m1 center-align">#}
{#                            <div class="single-project-listing center-align">#}
{#                                 <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>#}
{#                            </div>#}
{#                            <p>project 1</p>#}
{#                        </div>#}
{##}
{#                        <div class="col l2 m4 s6 offset-m1 center-align">#}
{#                            <div class="single-project-listing center-align">#}
{#                                 <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>#}
{#                            </div>#}
{#                            <p>project 1</p>#}
{#                        </div>#}
{##}
{#                        <div class="col l2 m4 s6 offset-m1 center-align">#}
{#                            <div class="single-project-listing center-align">#}
{#                                 <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>#}
{#                            </div>#}
{#                            <p>project 1</p>#}
{#                        </div>#}
{##}
{#                        <div class="col l2 m4 s6 offset-m1 center-align">#}
{#                            <div class="single-project-listing center-align">#}
{#                                 <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>#}
{#                            </div>#}
{#                            <p>project 1</p>#}
{#                        </div>#}
{##}
{#                       <div class="col l2 m4 s6 offset-m1 center-align">#}
{#                            <div class="single-project-listing center-align">#}
{#                                 <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>#}
{#                            </div>#}
{#                            <p>project 1</p>#}
{#                        </div>#}
{##}
{#                        <div class="col l2 m4 s6 offset-m1 center-align">#}
{#                            <div class="single-project-listing center-align">#}
{#                                 <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>#}
{#                            </div>#}
{#                            <p>project 1</p>#}
{#                        </div>#}
{##}
                    <p>Hello</p>
                </div>

                <div id="new-task" class="modal">
                    <div class="modal-content">
                        <form id="new-project" method="post" action="url_for()">
                            <input type="text" name="project-name" />
                            <input type="text" name="project-description" />
                            <select name="members">
                                <option>Vaibhav Lohani</option>
                                <option>Suhavan Gupta</option>
                                <option>Tejas Kulkarni</option>
                            </select>
                        </form>
                    </div>


                </div>

            </div>

        </div>


        <script rel="script" type="text/javascript" src="{{ url_for( 'static' , filename='js/jquery-3.1.0.min.js') }}" ></script>
        <script rel="script" type="text/javascript" src="{{ url_for ('static', filename='js/materialize.min.js') }} "></script>
        <script rel="script" type="text/javascript" src="{{  url_for('static' , filename='js/script.js') }}"></script>



    </body>
</html>
